.containerReg {
    margin: auto;
    margin-top: 100px;
    width: 500px;
}

.blue-grey.darken-1.registration {
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0)!important;
    border-radius: 20px;
}