@import '~materialize-css/dist/css/materialize.min.css';

input.Inp {
  color: chartreuse;
}

.brand-logo {
  margin-left: 10px;
}

/* .VerEm {
  margin-top: 200px;
  margin-left: 700px;
  align-items: center;
} */
/* 
div.app {
  background-color: chartreuse;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

/* .footer {
  align-self: flex-end;
} */





