@import '~materialize-css/dist/css/materialize.min.css';

body {
  background-image: url(utils/images/picture5.jpg); /* Путь к фоновому изображению */
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
 }

input.Inp {
  color: whitesmoke;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #FFD700, #2c2b2b);
}
