@import '~materialize-css/dist/css/materialize.min.css';

body {
  background-image: url(https://i.pinimg.com/originals/fe/e5/46/fee54690963240994bf2b3c6342bc89a.jpg); /* Путь к фоновому изображению */
  /* background-color: #c7b39b; Цвет фона */
 }

input.Inp {
  color: whitesmoke;
}

.brand-logo {
  margin-left: 10px;
}

/* span {
  color: green;
  margin-top: auto;
} */

/* .VerEm {
  margin-top: 200px;
  margin-left: 700px;
  align-items: center;
} */
/* 
div.app {
  background-color: chartreuse;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} */

/* .footer {
  align-self: flex-end;
} */





