.containerVerify {
    margin: auto;
    width: 220px;
    border: 2px solid white;
    border-radius: 20px;
}

.rootVer {
    margin-top: 100px;
}

.grey.verify {
    background-color: rgba(0, 0, 0, 0)!important;
}

i.right {
    margin-right: 0;
}

.btn {
    background-color: #FFD700;
    color: black;
    font-weight: 600;
}

.btn:focus {
    background-color: #DAA520;
}

.btn:hover {
    background-color: #DAA520;
}

i.right {
  color: black
}