.pStyle {
  color: white;
  margin: 20px 0 20px 0;
  font-size: 17px;
}

.listPayments {
  /* border-radius: 20px; */
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.75);
  /* border: 2px solid #FFD700; */
  background-color: rgba(0, 0, 0, 0)!important;
}

.listItemForPayments {
  /* border-radius: 20px; */
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.75);
  /* border: 1px solid #FFD700; */
  background-color: rgba(0, 0, 0, 0)!important;
}

.modal {
  backdrop-filter: blur(15px) !important;
  margin-top: 0 !important;
  /* height: 500px;
  width: 900px; */
}

/* .modal3Style {
  margin-top: 0;
  height: 500px;
  width: 900px;
}

.datepicker-table {
  background-color: white;
}

.datepicker-date-display, .datepicker-table td.is-selected, .timepicker-digital-display {
  background-color: #FFD700;
}

.datepicker-date-display .date-text, .datepicker-date-display .year-text{
  color: black;
}

.datepicker-done, .datepicker-cancel, .timepicker-close {
  color: #FFD700;
}

.month-prev, .month-next {
  background-color: #FFD700;
  border-radius: 20%;
}

.datepicker-table td.is-selected, .timepicker-span-hours, .timepicker-span-minutes, .timepicker-text-container, .timepicker-span-am-pm div {
  color: black;
  font-weight: bolder;
} */