nav {
    background-color: rgba(0, 0, 0, 0)!important;
}

.brand-logo {
    font-size: 100%;
}

.headerText {
    font-size: 100%;
    color: #FFD700;
}

.brand-logo:hover {
    transform: scale(1.2);
    transition: all 0.5s;
}

.headerText:hover {
    transform: scale(1.2);
    transition: all 0.5s;
}

.right {
    margin-right: 60px;
}

.colContent {
    max-height: 680px;
    overflow: auto;
}

nav .logoStyle {
  color: #FFD700;
}